<div class="container">
    <div class="card m-3">
        <h3>Nouvelle fonction</h3>
        <br />
        <div class="card-body">
            <form [formGroup]="newFonctionForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <font color="red">*</font>&nbsp;<label for="iNomFonction">Nom</label>
                    <input type="text" id="iNomFonction" formControlName="nom" placeholder="Nom de la fonction" class="form-control" [ngClass]="{ 'is-invalid': f.nom.errors && f.nom.dirty }" />
                    <div *ngIf="f.nom.errors && f.nom.dirty" class="invalid-feedback">
                        <div *ngIf="f.nom.errors.required">Le nom de la Fonction est obligatoire</div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1" [disabled]="!newFonctionForm.valid">Ajouter</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Abandonner</button>
                </div>
            </form>
        </div>
    </div>
</div>