<div class="container">
    <div class="card m-3">
        <h3>Modification du participant {{participant ? participant!.prenom : ''}} {{participant ? participant!.nom : ''}}</h3>
        <br />
        <div class="card-body">
            <form [formGroup]="oldParticipantForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <font color="red">*</font>&nbsp;<label for="iNomParticipant">Nom</label>
                    <input id="iNomParticipant" type="text" placeholder="Nom du participant" formControlName="nomParticipant" class="form-control" [ngClass]="{ 'is-invalid': f.nomParticipant.errors && f.nomParticipant.dirty }" />
                    <div *ngIf="f.nomParticipant.errors && f.nomParticipant.dirty" class="invalid-feedback">
                        <div *ngIf="f.nomParticipant.errors.required">Le nom du participant est obligatoire</div>
                    </div>
                </div>
                <div class="form-group">
                    <font color="red">*</font>&nbsp;<label for="iPrenomParticipant">Prenom</label>
                    <input id="iPrenomParticipant" type="text" placeholder="Prénom du participant" formControlName="prenomParticipant" class="form-control" [ngClass]="{ 'is-invalid': f.prenomParticipant.errors && f.prenomParticipant.dirty }" />
                    <div *ngIf="f.prenomParticipant.errors && f.prenomParticipant.dirty" class="invalid-feedback">
                        <div *ngIf="f.prenomParticipant.errors.required">Le prénom du participant est obligatoire</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="iEmailParticipant">Courriel</label>
                    <input id="iEmailParticipant" type="text" placeholder="exemple@domaine" formControlName="emailParticipant" class="form-control" [ngClass]="{ 'is-invalid': f.emailParticipant.errors }" />
                    <div *ngIf="f.emailParticipant.errors" class="invalid-feedback">
                        <div *ngIf="f.emailParticipant.errors.email">Le courriel n'est pas valide
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="iTelephoneParticipant">Téléphone</label>
                    <input id="iTelephoneParticipant" maxlength="14" phoneMask [preValue]="oldParticipantForm.value.telephoneParticipant" placeholder="(___) ___-____" type="text" formControlName="telephoneParticipant" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="selFonction">Fonction</label>
                    <select id="selFonction" formControlName="fonctionIdParticipant" class="form-control">
                        <option value="">Choisir...</option>
                        <option *ngFor="let opt of (listFonctions$ | async)" [value]="opt.id"
                            [selected]="opt.id == f.fonctionIdParticipant.value">{{opt.nom}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selEcole">Ecole</label>
                    <select id="selEcole" formControlName="ecoleIdParticipant" class="form-control">
                        <option value="">Choisir...</option>
                        <option *ngFor="let opt of (listEcoles$ | async)" [value]="opt.id"
                            [selected]="opt.id == f.ecoleIdParticipant.value">{{opt.nom}}
                        </option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" [disabled]="!oldParticipantForm.valid || !oldParticipantForm.dirty">Modifier</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Abandonner</button>
                </div>
            </form>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>